body {
	font-family: 'Nunito', sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 720px;
	display: block;
	background-color: lavender;
}

nav {
	position: relative;
  margin-top: 30px;
  margin-bottom: -50px;
  margin-left: -10px;

}

.title {
	font-size: 20px;
}

p {
	font-size: 17px;
}

.home_link {
	position: relative;
  margin-left: 659px;
  top: -2px;
  font-size: 17px;
}

.resume_link {
	width: auto;
  position: relative;
  margin-left: 659px;
}

.introduction_content {
	width: 400px;
  position: relative;
  margin-left: 311px;
  margin-bottom: -60px;
}

.me_photo {
	width: 300px;
	position: relative;
	margin-top: -104px;

}
.family_content {
	width: 350px;
}
.family_photo {
	width: 350px;
  position: relative;
  margin-left: 362px;
  margin-top: -178px;
}

.about_me_content{
	font-size: 16px;
	position: relative;
  margin-top: -45px;
  margin-bottom: 15px;
}

img {
	width: 177px;
	margin-top: 20px;
}
